.card.mb3{:style => "max-width: 420px;"}
  .card-body
    %p.card-title
      = "@" + post.user.username
    = link_to image_tag(post.image.variant(resize_to_limit: [400, 400]), :class => "card-img-top"), post_path(post)
    %p.card-text
      = post.description
    %p
      = button_to 'Like', like_post_path(post)
    %p
      %b= post.likes.count
      likes
